footer {
    position: flex;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #5a5a5a;
    color: white;
    text-align: center;
    border-top: black solid 1px;
}

.container-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.container-grid h3 {
    padding-bottom: 5px;
}

a {
    color: white;
}

.social {
    padding: 8px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

#facebook-icon {
    background: #3B5998;
    color: white;
}

#twitter-icon {
    background: #55ACEE;
    color: white;
}